In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../diamonds_train.csv")

In [4]:
data.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276

In [5]:
# A primera vista tengo que limpiar cut, color y clarity 

data.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [6]:
data["cut"].value_counts()

Ideal        16141
Premium      10303
Very Good     9068
Good          3631
Fair          1202
Name: cut, dtype: int64

In [7]:
cut_list = ["Ideal", "Premium", "Very Good", "Good", "Fair"]

dataTest = data.copy().head(15)

In [8]:
data["cut"] = data["cut"].map({"Ideal": 5, "Premium":4, "Very Good": 3, "Good":2, "Fair":1})

In [9]:
data["cut"].value_counts()

5    16141
4    10303
3     9068
2     3631
1     1202
Name: cut, dtype: int64

In [10]:
#from J (worst) to D (best). Separo entre Colourless (D-F) == 0 y Near colourless (G-J) == 1

data["color"].value_counts()

G    8462
E    7292
F    7133
H    6200
D    5094
I    4094
J    2070
Name: color, dtype: int64

In [11]:
data["color"] = data["color"].apply(lambda x: 0 if x == "D" or x == "E" or x == "F" else 1)

In [12]:
# Valores bastante parejos :)

data["color"].value_counts()

1    20826
0    19519
Name: color, dtype: int64

In [13]:
# I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best). No veo la relación de categorías de antes.

data["clarity"].value_counts()

SI1     9710
VS2     9164
SI2     6884
VS1     6092
VVS2    3839
VVS1    2738
IF      1357
I1       561
Name: clarity, dtype: int64

In [14]:
data["clarity"] = data["clarity"].map({"I1": 1, "SI2":2, "SI1": 3, "VS2":4, "VS1":4, "VVS2":5, "VVS1":6, "IF":7})

In [15]:
data["clarity"].value_counts()

4    15256
3     9710
2     6884
5     3839
6     2738
7     1357
1      561
Name: clarity, dtype: int64

In [16]:
data.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.78    4      0        4   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    5      0        3   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    5      0        3   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    5      0        5   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    5      1        3   61.4   55.0  5.58  5.62  3.44   1276

In [17]:
data.to_csv("../output/clean_diamonds.csv", index=False)

## Limpieza con dummies

In [18]:
data2 = pd.read_csv("../diamonds_train.csv")

In [19]:
data2 = pd.get_dummies(data2)

In [20]:
data2.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.78,61.5,58.0,5.93,5.98,3.66,3446,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0.31,60.8,56.0,4.37,4.32,2.64,732,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,0.30,62.3,54.0,4.30,4.34,2.69,475,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,1.04,62.0,58.0,6.54,6.46,4.03,9552,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.65,61.4,55.0,5.58,5.62,3.44,1276,0,0,...,0,1,0,0,1,0,0,0,0,0